*.snm
*.nav
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.vrb
*.synctex.gz
*conflicted copy*
auto/
\#*
.#*
.~lock.*
manifesto_apikey.txt
*~
.Rhistory
*.csv
.RData
.spyproject
pri_project_data.zip
*.gz
*.synctex
projecto/*.txt
projecto/euspeech
EXAME_OVERLEAF.md
entregas_projecto/

